apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-ticket
  namespace: ticket
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    argocd.argoproj.io/health: "ignore"
spec:
  ingressClassName: nginx
  rules:
    - host: rabbitlokal.com
      http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: rabbit-service
                port:
                  number: 15672
    - host: ticketapp.com
      http:
        paths:
          - path: /api/payments/?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: payments-service
                port:
                  number: 3000
          - path: /api/users/?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: auth-service
                port:
                  number: 3000
          - path: /api/tickets/?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: tickets-service
                port:
                  number: 3000
          - path: /api/orders/?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: orders-service
                port:
                  number: 3000
          - path: /?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: client-service
                port:
                  number: 3000
status:
  loadBalancer:
    ingress:
      - ip: 192.168.23.240
